@charset "utf-8";

*{
	padding: 0;
	margin: 0 auto;
}
#banner{
	width: 454px;
	height: 340px;
	position: relative;
}
#banner .banner-imgs{
	width: 454px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
#banner .banner-imgs .banner-imgList{
	width: 1816px;
	height: 340px;
	position: absolute;
	clear: both;
}
#banner .banner-imgs .banner-imgList li{
	float: left;
	position: relative;
	list-style-type: none;
}
#banner .banner-imgs img{
	width: 454px;
	height: 340px;
}
#banner .banner-imgs .btn{
	width: 20px;
	height: 40px;
	background-color: #bbb;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	z-index: 99;
}
#banner .banner-imgs .banner-prev{
	left: 0;
}
#banner .banner-imgs .banner-next{
	right: 0;
}
#banner .banner-btn{
	width: 100px;
	height: 10px;
	position: relative;
	left: 50%;
	margin-left: -50px;
	bottom: 20px;
}
#banner .banner-btn .btns{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	float: left;
	margin: 0 7px;
	background-color: #bbb;
}
#banner .banner-btn .btns:hover{
	background-color: #f00;
}
#banner .banner-btn .btn1{
	background-color: #f00;
}